<ion-view view-title="LIBERCARD: QRCOD DATAMATRIX">
    <ion-content class="padding">
        <button class="button button-positive" ng-click="loadCountries()">
           Mostrar QRCOD
        </button>
            <ion-item ng-repeat="country in countries">
                <a href="https://martplore.com.br/vdroot/barcode.php?{{country}}" download='QRCod' title='QRCod'>
	                 <img src="https://martplore.com.br/vdroot/barcode.php?{{country}}" alt='QRCod'>
	             </a>
            </ion-item> 
           
    </ion-content>
</ion-view>
